### 1) The data (bank.csv) is related to direct marketing campaigns
(phone calls) of a Portuguese banking institution. Develop a
suitable ML model for classification. The classification goal is to
predict if the client will subscribe a term deposit. Develop models
using knn, svm, nb and logistic regression. Observe the accuracy
obtained by different models. Also study the precision, recall , F1
score parameters. Find out which algorithm is most suitable

In [3]:
import pandas as pd

bank = pd.read_csv('bank.csv')
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [6]:
type(bank['default'][0])

str