### 1 Create a numpy structured array using the emp.csv file available in common folder.
#### 1.1 display all the records.
#### 1.2 display names of officers.
#### 1.3 display all the scientists records.
#### 1.4 display the total salary.
#### 1.5 display average salary of engineers.
#### 1.6 display employees in the ascending order of salary.
#### 1.7 display employees in the ascending order of designation and then salary.
#### 1.8 display the lowest salary for scientist designation.
#### 1.9 display records of employees who are scientists and are drawing the lowest salary(without using sort).

In [18]:
import numpy as np

In [19]:
datype = np.dtype({'names': ['ename','eno','edesign','esal','ephone'],'formats':['S20','i8','S20','f8','S20']})

atf = np.loadtxt('emp.csv',delimiter=',',dtype=datype)
atf

array([('K.Raj', 101, 'scientist',  50000., '(0493)-2287278'),
       ('Mohan Raj M.', 102, 'engineer',  50000., '[0496]-2287278'),
       ('M.Ram', 104, 'scientist',  80000., '(0491)-4287275'),
       ('Ram Kumar', 104, 'scientist',  60000., '(0491)-4287335'),
       ('Mohan Babu K.K.', 106, 'officer',  50000., '{0496}-2387278'),
       ('K.Gopal', 107, 'scientist',  50000., '(0493)-2287278'),
       ('Anil Raj M.', 108, 'engineer',  50000., '{0496]-2287278'),
       ('Amala P.', 201, 'scientist',  70000., '(0498)-9287275'),
       ('Uma ', 204, 'officer',  60000., '(0491)-4287335'),
       ('Suma', 206, 'engineer',  50000., '0496_2387278')],
      dtype=[('ename', 'S20'), ('eno', '<i8'), ('edesign', 'S20'), ('esal', '<f8'), ('ephone', 'S20')])

In [14]:
import pandas as pd

dd = pd.read_csv('emp.csv')
temp = dd.as_matrix()

temp

array([['Mohan Raj M.', 102, 'engineer', 50000.0, '[0496]-2287278'],
       ['M.Ram', 104, 'scientist', 80000.0, '(0491)-4287275'],
       ['Ram Kumar', 104, 'scientist', 60000.0, '(0491)-4287335'],
       ['Mohan Babu K.K.', 106, 'officer', 50000.0, '{0496}-2387278'],
       ['K.Gopal', 107, 'scientist', 50000.0, '(0493)-2287278'],
       ['Anil Raj M.', 108, 'engineer', 50000.0, '{0496]-2287278'],
       ['Amala P.', 201, 'scientist', 70000.0, '(0498)-9287275'],
       ['Uma ', 204, 'officer', 60000.0, '(0491)-4287335'],
       ['Suma', 206, 'engineer', 50000.0, '0496_2387278']], dtype=object)