### 1 Create a numpy structured array using the emp.csv file available in common folder.
#### 1.1 display all the records.
#### 1.2 display names of officers.
#### 1.3 display all the scientists records.
#### 1.4 display the total salary.
#### 1.5 display average salary of engineers.
#### 1.6 display employees in the ascending order of salary.
#### 1.7 display employees in the ascending order of designation and then salary.
#### 1.8 display the lowest salary for scientist designation.
#### 1.9 display records of employees who are scientists and are drawing the lowest salary(without using sort).

In [6]:
import numpy as np

d = 'S20,i8'

data = np.array([('hai',23),('gai',22)],dtype=d)

In [7]:
data

array([('hai', 23), ('gai', 22)],
      dtype=[('f0', 'S20'), ('f1', '<i8')])

In [12]:
fd = open('emp.csv')
lines = fd.readlines()
fd.close()

cc =[]
for line in lines:
    cc.append(tuple(line.split(',')))
print cc

[('ename', 'eno', 'edesig', 'esalary', 'ephno\n'), ('K.Raj', '101', 'scientist', '50000.00', '(0493)-2287278\n'), ('Mohan Raj M.', '102', 'engineer', '50000.00', '[0496]-2287278\n'), ('M.Ram', '104', 'scientist', '80000.00', '(0491)-4287275\n'), ('Ram Kumar', '104', 'scientist', '60000.00', '(0491)-4287335\n'), ('Mohan Babu K.K.', '106', 'officer', '50000.00', '{0496}-2387278\n'), ('K.Gopal', '107', 'scientist', '50000.00', '(0493)-2287278\n'), ('Anil Raj M.', '108', 'engineer', '50000.00', '{0496]-2287278\n'), ('Amala P.', '201', 'scientist', '70000.00', '(0498)-9287275\n'), ('Uma ', '204', 'officer', '60000.00', '(0491)-4287335\n'), ('Suma', '206', 'engineer', '50000.00', '0496_2387278\n')]