### 1. Create a csv file emp.csv that contains the following data,
    eno,ename,edesig,esalary
    101,Anil,scientist,50000
    102,Mary,scieltist,55000
    103,Raju,engineer,60000
    104,Ravi,officer,40000
   write a script to create an xml file from the above data.
   (employee can be made as root node)

In [49]:
import xml.dom.minidom as dm

f = open("emp.csv")

content = f.readlines()
elements = content[0].strip().split(',')


doc = dm.Document()


root = doc.createElement('root')

for c in content[1:]:
    datas = c.strip().split(',')
    emp = doc.createElement('employee')
    i=0
    for data in datas:
        child = doc.createElement(elements[i])
        child.appendChild(doc.createTextNode(data))
        emp.appendChild(child)    
        i +=1
    root.appendChild(emp)
    
doc.appendChild(root)

fd = open('employee.xml','w')

doc.writexml(fd)

### 2. Write a script to create a table in mysql database using the data of emp.csv

   (table names can be chosen as emp_ai01,emp_ai02 etc for users AI01,AI02 etc)
	
	server- localhost / 127.0.0.1
	username - {will be given}
	password - {will be given}
    database - {will be given}

In [12]:
import MySQLdb as db

f = open("emp.csv")

content = f.readlines()

try:
    connection = db.connect('127.0.0.1','ai','ai','ai')
    cursor = connection.cursor()
    for c in content[1:]:
        datas = c.strip().split(',')
        q = 'INSERT INTO emp_ai16 VALUES(%s,\'%s\',\'%s\',%s)'%(datas[0],datas[1],datas[2],datas[3])
        cursor.execute(q)
        ### or try this
        # q = 'INSERT INTO emp_ai16 VALUES(%s,%s,%s,%s)'
        #cursor.execute(q,datas)
        ###
        connection.commit()
except Exception,arg:
    print arg
else:
    print "hai"

hai