### Copy emp.csv from common/python_exercises directory
### Write  python scripts(use re module) to do the following

### 1.Write records that correspond to scientists to another file named sci.csv

In [25]:
import re

f = open("emp.csv")
content = f.readlines()

elements = ['ename','eno','edesig','esalary','phone']
to_write = ''

for c in content:
    if re.match('.*scientist.*',c) :
        to_write += c


print to_write

fd = open('sci.csv','w')
fd.write(to_write)        
fd.close()

K.Raj,101,scientist,50000.00,(0493)-2287278
M.Ram,104,scientist,80000.00,(0491)-4287275
Ram Kumar,104,scientist,60000.00,(0491)-4287335
K.Gopal,107,scientist,50000.00,(0493)-2287278
Amala P.,201,scientist,70000.00,(0498)-9287275

### 2.Write records with single letter initials at the begining of the name to ini1.csv

In [26]:
to_write = ''

for c in content:
    if re.match('^([A-Z]\\.)',c.split(',')[0]):
        to_write += c

print to_write

fd = open('ini1.csv','w')
fd.write(to_write)        
fd.close()

K.Raj,101,scientist,50000.00,(0493)-2287278
M.Ram,104,scientist,80000.00,(0491)-4287275
K.Gopal,107,scientist,50000.00,(0493)-2287278

### 3.Write records with single letter initials anywhere in the name to ini2.csv

In [27]:
to_write = ''

for c in content:
    if re.match('.*([A-Z]\\.).*',c.split(',')[0]):
        to_write += c

print to_write

fd = open('ini2.csv','w')
fd.write(to_write)        
fd.close()

K.Raj,101,scientist,50000.00,(0493)-2287278
Mohan Raj M.,102,engineer,50000.00,[0496]-2287278
M.Ram,104,scientist,80000.00,(0491)-4287275
Mohan Babu K.K.,106,officer,50000.00,{0496}-2387278
K.Gopal,107,scientist,50000.00,(0493)-2287278
Anil Raj M.,108,engineer,50000.00,{0496]-2287278
Amala P.,201,scientist,70000.00,(0498)-9287275

### 4.Write names and phone numbers to empphno.csv,remove extra characters from phno field.

In [31]:
to_write = ''

for c in content:
    phno = re.sub('[^0-9]','',c.split(',')[4])
    to_write += c.split(',')[0]+','+phno+'\n'

print to_write

fd = open('empphno.csv','w')
fd.write(to_write)        
fd.close()

K.Raj,04932287278
Mohan Raj M.,04962287278
M.Ram,04914287275
Ram Kumar,04914287335
Mohan Babu K.K.,04962387278
K.Gopal,04932287278
Anil Raj M.,04962287278
Amala P.,04989287275
Uma ,04914287335
Suma,04962387278

### 5.write records with id greater than 200 to anotherfile named emp2.csv.

In [33]:
to_write = ''

for c in content:
    if int(c.split(',')[1]) > 200:
        to_write += c

print to_write

fd = open('emp2.csv','w')
fd.write(to_write)        
fd.close()

Amala P.,201,scientist,70000.00,(0498)-9287275
Uma ,204,officer,60000.00,(0491)-4287335
Suma,206,engineer,50000.00,0496_2387278