### 0.import pandas 
### 1.Create a (4,4)2D array  consisting of integers.
### 2.Create a masked array from the above array by making numbers which are divisible by 3 as invalid values.
### 3.Create a dataframe from the above masked array.
### 4.Create a series of your own choice and do reindexing by exploring ffill,bfill,nearest etc
### 5.Create a Dataframe object of your own choice and do reindexing.

In [3]:
import pandas as pd
import numpy as np

In [10]:
a2 = np.array(range(1,17)).reshape(4,4)
a2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [11]:
mask_a3 = np.ma.masked_array(a2,mask=a2%3 == 0)
mask_a3

masked_array(data =
 [[1 2 -- 4]
 [5 -- 7 8]
 [-- 10 11 --]
 [13 14 -- 16]],
             mask =
 [[False False  True False]
 [False  True False False]
 [ True False False  True]
 [False False  True False]],
       fill_value = 999999)

In [13]:
mask_a3.mask

array([[False, False,  True, False],
       [False,  True, False, False],
       [ True, False, False,  True],
       [False, False,  True, False]], dtype=bool)

In [14]:
from pandas import DataFrame as df

dfm3 =df(mask_a3) 
dfm3

      0     1     2     3
0   1.0   2.0   NaN   4.0
1   5.0   NaN   7.0   8.0
2   NaN  10.0  11.0   NaN
3  13.0  14.0   NaN  16.0