### 1.Write a menu based python script to create a numpy structured array using the given(common folder) emp.csv file
    with the following options,
   * initialize 
   * add new record 
   * delete a record 
   * Display details by eno 
   * Display summary 
   * Save All 
   * Exit 

        a-Load data from emp.csv to numpy array
        b-Get details from user and append it to the existing numpy array
        c-Remove an employee record by receiving employee number
        d-Display an employee record by receiving ename or employee number
        e-Display total number of emplyees and total salary
        f-Replace emp.csv with the modified array
        g-Quit the program

In [23]:
import numpy as np


def init():
    global data
    global datype = np.dtype({'names': ['ename','eno','edesign','esal','ephone'],'formats':['S20','i8','S20','f8','S20']})
    data = np.loadtxt('emp.csv',delimiter=',',skiprows=1,dtype=datype)

def disp():
    if(len(data)):
        num = input('No?')
        print num
        res = data[data['eno'] == num]
        if(len(res) > 0):
            print res
        else:
            print "Not found!!"

def addnew():
    global data
    name = raw_input('Name?')
    num = input('No?')
    design = raw_input('Design?')
    sal = input('Salary?')
    phne = '(007)-1234'
    new = (name,num,design,sal,phne)
    t = np.array([new],dtype=datype)
    np.append(data,t[0])
    
def suma():
    print "Summary => Total no : %s , Total Salary = %s"%(len(data),data['esal'].sum())
        
def dall():
    print data

SyntaxError: invalid syntax (<ipython-input-23-a62bbb248793>, line 6)

In [24]:


i = 1
while (i != 0):
    i = input("-----MENU-----\n\t1-Initialize\n\t2-Add\n\t3-Delete\n\t4-Display\n\t5-Summary\n\t6-Save\n\t0-EXIT\n")
    if(i == 1):
        init()
    elif(i == 2):
        addnew()    
    elif(i == 4):
        disp()
    elif(i == 5):
        suma()  
    elif(i == 7):
        dall()

-----MENU-----
	1-Initialize
	2-Add
	3-Delete
	4-Display
	5-Summary
	6-Save
	0-EXIT
1
-----MENU-----
	1-Initialize
	2-Add
	3-Delete
	4-Display
	5-Summary
	6-Save
	0-EXIT
7
[('K.Raj', 101, 'scientist',  50000., '(0493)-2287278')
 ('Mohan Raj M.', 102, 'engineer',  50000., '[0496]-2287278')
 ('M.Ram', 104, 'scientist',  80000., '(0491)-4287275')
 ('Ram Kumar', 104, 'scientist',  60000., '(0491)-4287335')
 ('Mohan Babu K.K.', 106, 'officer',  50000., '{0496}-2387278')
 ('K.Gopal', 107, 'scientist',  50000., '(0493)-2287278')
 ('Anil Raj M.', 108, 'engineer',  50000., '{0496]-2287278')
 ('Amala P.', 201, 'scientist',  70000., '(0498)-9287275')
 ('Uma ', 204, 'officer',  60000., '(0491)-4287335')
 ('Suma', 206, 'engineer',  50000., '0496_2387278')]
-----MENU-----
	1-Initialize
	2-Add
	3-Delete
	4-Display
	5-Summary
	6-Save
	0-EXIT
2
Name?nizam
No?22
Design?2233
Salary?123544

TypeError: invalid type promotion

In [22]:
datype = np.dtype({'names': ['ename','eno','edesign','esal','ephone'],'formats':['S20','i8','S20','f8','S20']})
t = np.array([('K.Raj', 101, 'scientist',  50000., '(0493)-2287278')],dtype=datype)
np.append(data2,t[0])

array([('K.Raj', 101, 'scientist',  50000., '(0493)-2287278'),
       ('Mohan Raj M.', 102, 'engineer',  50000., '[0496]-2287278'),
       ('M.Ram', 104, 'scientist',  80000., '(0491)-4287275'),
       ('Ram Kumar', 104, 'scientist',  60000., '(0491)-4287335'),
       ('Mohan Babu K.K.', 106, 'officer',  50000., '{0496}-2387278'),
       ('K.Gopal', 107, 'scientist',  50000., '(0493)-2287278'),
       ('Anil Raj M.', 108, 'engineer',  50000., '{0496]-2287278'),
       ('Amala P.', 201, 'scientist',  70000., '(0498)-9287275'),
       ('Uma ', 204, 'officer',  60000., '(0491)-4287335'),
       ('Suma', 206, 'engineer',  50000., '0496_2387278'),
       ('K.Raj', 101, 'scientist',  50000., '(0493)-2287278')],
      dtype=[('ename', 'S20'), ('eno', '<i8'), ('edesign', 'S20'), ('esal', '<f8'), ('ephone', 'S20')])

## Pandas
#### 1.import pandas library
####	2.print the verion of pandas
####	3.create a series object having 5 elements
####	4.print all the elements
####	5.print first two elements
####	6.create another series object by supplying string labels as index
####	7.print all the elements/print individual elements
####	8.create a dict object and then  a series object from that dictionary  
####	9.create another dict obj with some common keys (Q.No.8) and then a series obj
####	10.add the two Series objs and print the result.

In [3]:
import pandas as pd

pd.__version__

u'0.21.1'

In [5]:
from pandas import Series as se

l1 = [1,2,3,4,5]
s1 = se(l1)

print s1
type(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

pandas.core.series.Series

In [6]:
print s1[0:2]

0    1
1    2
dtype: int64

In [8]:
s2 = se(l1,index=list('abcde'))
print s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
d1 = dict(one=1,two=2,three=3,four=4)
d1

{'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [10]:
sfd = se(d1)
print sfd

four     4
one      1
three    3
two      2
dtype: int64

In [11]:
d2 = dict(one=11,two=22,three=33,four=44)
d2

{'four': 44, 'one': 11, 'three': 33, 'two': 22}

In [12]:
sfd2 = se(d2)
print sfd2

four     44
one      11
three    33
two      22
dtype: int64

In [13]:
print sfd+sfd2

four     48
one      12
three    36
two      24
dtype: int64