## 1. Import the dataset(drinks.csv) from common/Python_Exercise folder.

In [2]:
import pandas as pd
drinks = pd.read_csv('drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

##  2.Print the continent that drinks more beer on average?

In [24]:
con_group = drinks.groupby('continent')
print type(con_group)

max_con = con_group['beer_servings'].mean().argmax() ### vs con_group.mean()['beer_servings']

<class 'pandas.core.groupby.DataFrameGroupBy'>
continent that drinks more beer on average :  EU

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.
  after removing the cwd from sys.path.

In [25]:
max_con = con_group['beer_servings'].mean().idxmax()  ## idxmax vs argmax
print 'continent that drinks more beer on average : ' ,max_con

continent that drinks more beer on average :  EU

## 3. For each continent print the statistics(count,mean,std etc.) for wine consumption.

In [27]:
print con_group['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

##  4.Print the mean alcoohol consumption per continent for every column

In [28]:
print con_group.mean()

           beer_servings  spirit_servings  wine_servings  \
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

## 5. Print the median alcoohol consumption per continent for every column

In [29]:
print con_group.median()

           beer_servings  spirit_servings  wine_servings  \
continent
AF                  32.0              3.0            2.0
AS                  17.5             16.0            1.0
EU                 219.0            122.0          128.0
OC                  52.5             37.0            8.5
SA                 162.5            108.5           12.0

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85

## 6.Print the mean, min and max values for spirit consumption.

In [32]:
type(con_group['spirit_servings'].describe())

pandas.core.frame.DataFrame

In [41]:
print con_group['spirit_servings'].describe()[['mean','min','max']]

                 mean   min    max
continent
AF          16.339623   0.0  152.0
AS          60.840909   0.0  326.0
EU         132.555556   0.0  373.0
OC          58.437500   0.0  254.0
SA         114.750000  25.0  302.0